// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  position: relative;
  text-align: center;
  top: 300px;
}


.text {
  height: 20px;
  width: 200px;
  border-style: 5px solid blue;
}

.btn {
  width: 200px;
}
